<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="{{asset "favicon.ico"}}">

	<link rel="stylesheet" type="text/css" href="{{asset "css/all.css"}}" />

	<script type="text/javascript" src="//use.typekit.net/etf6akp.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	{{ghost_head}}
</head>
<body class="{{body_class}}">
	<div class="contain">

		{{{body}}}

		{{> footer}}

		{{ghost_foot}}

	</div>
	<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
