{{!< default}}

<main class="content main" role="main">
	<article class="{{post_class}}">

		{{! Each post has the blog logo at the top, with a link back to the home page }}
		<header class="post-header">
			{{#if @blog.logo}}
        <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
      {{/if}}
      <h2 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h2>
		</header>

		{{#post}}
			<span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{tags prefix="on " separator=" | "}}</span>

			<h1 class="post-title">{{{title}}}</h1>

			<section class="post-content">
				{{content}}
			</section>
		{{/post}}

	</article>
</main>
